@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-border: hsl(var(--border));
}

* {
    font-family: "Roboto", sans-serif;
}

body {
    background: #fafafc;
}

a {
    @apply underline;
}

.f-amaranth {
    font-family: "Amaranth", sans-serif;
}

.text-primary {
    color: #5372a5;
}