---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
	<div class="px-3 md:px-auto z-10 relative pb-8">
        <div class="container mx-auto px-5">
            <div class="shadow-lg rounded-lg lg:w-2/4 mx-auto">
                <img src="/images/uncompressed/cup.jpg" class="w-full h-auto" />
            </div>
            <h1 class="text-3xl mt-10 font-medium">
                Join Our Community
            </h1>
            <h2 class="text-xl font-light mb-5">
                LifeLines is building a private Canadians Abroad community on Telegram — a space to connect, share experiences, and exchange practical information while living overseas.
            </h2>

            <div class="flex flex-col gap-4 text-lg px-10 mb-10">
                <p>
                    This community is designed for everyday support: asking logistical questions, navigating life in a new country, understanding local systems, and connecting with fellow Canadians abroad. It is not a counselling or crisis service, but a respectful peer community grounded in shared experience.
                </p>
                <p>
                    Our goal is to create a space that feels safe, structured, and trustworthy. Clear community guidelines will be in place to ensure respectful engagement and to maintain a positive environment for everyone.
                </p>
                <p>
                    You can join the private group using your Telegram username only; your phone number will remain hidden from other members. Telegram’s privacy settings allow you to control who can see your number, and we will provide simple step-by-step instructions to help you adjust these settings before joining.
                </p>
                <p>
                    If you are a Canadian living abroad and would like to be part of the community, please email:
                </p>
                <a href="mailto:aidan@lifelinesproject.com" class="text-primary">
                aidan@lifelinesproject.com
                </a>
                <p>
                    We will send you the private invitation link along with instructions to ensure your privacy settings are properly configured before you join.
                </p>
                <p>
                    If you ever have concerns about the community, wish to report an issue, or need assistance, you can contact us confidentially at:
                </p>
                <a href="mailto:support@lifelinesproject.com" class="text-primary">
                    support@lifelinesproject.com
                </a>
                <p>
                    We are committed to listening and maintaining a space built on trust, care, and integrity.
                </p>
            </div>
        </div>
	</div>
    <div class="shadow-lg rounded-lg w-full mx-auto mt-10">
        <img src="/images/uncompressed/chicken.jpg" class="w-full h-auto" />
    </div>
</BaseLayout>