---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCountries } from "libphonenumber-js";
import { getName } from "country-list";
import SuicideHotlineList from "../components/SuicideHotlineList.vue";

// Get all country codes
const allCountryCodes = getCountries();

/* Map to typed array with names */
const countries: Country[] = allCountryCodes.flatMap((code) => {
  const name = getName(code);
  return name ? [{ name, code }] : [];
});

const topCountriesCodes = ["CA", "US"];
const topCountries = countries.filter((c) =>
  topCountriesCodes.includes(c.code),
);

/* Sort alphabetically */
countries.sort((a, b) => a.name.localeCompare(b.name));

/* Group countries by first letter */
const grouped: Record<string, Country[]> = countries.reduce(
  (acc, country: Country) => {
    const letter = country.name[0].toUpperCase();
    if (!acc[letter]) acc[letter] = [];
    acc[letter].push(country);
    return acc;
  },
  {} as Record<string, Country[]>,
);
---

<BaseLayout title="Home">
  <div class="relative top-0 pb-8">
    <img
      src="/images/Map-min.png"
      alt=""
      class="absolute w-full top-0 left-0 opacity-20 z-0"
    />
    <div class="px-3 md:px-auto z-10 relative pb-8 text-center">
      <div class="container mt-5 lg:px-64 mx-auto">
        <div
          class="p-1 border-4 border-gray-200 bg-white shadow-lg rounded-lg img-container"
        >
          <img src="/images/Map-min.png" alt="" />
        </div>
      </div>

      <div class="container mx-auto">
        <div class="flex flex-col gap-3 mx-5 lg:mx-24 text-center">
          <h1 class="text-3xl mt-10 text-blue-500 font-medium">
            Crisis and Suicide Hotlines
          </h1>
          <p class="text-xl font-medium">
            If you are in immediate danger, contact local emergency services.
          </p>
          <p class="text-lg mt-5">
            If you are in crisis or feeling overwhelmed, support is available.
            You do not have to handle this alone.
            <br />
            Below is a list of verified crisis and suicide hotlines organized by country.
            Please choose the country where you are located to find local support
            services available to you.
          </p>
        </div>

        <SuicideHotlineList
          topCountries={topCountries}
          grouped={grouped}
          client:load
        />
      </div>
    </div>
  </div>
</BaseLayout>
