<div class="w-full p-10 bg-[#e1e4ed]">
    <a href="https://www.linkedin.com/company/lifelinesproject" class="!no-underline flex flex-row items-center text-xl font-bold text-gray-700">
        <img src="/images/linkedin.png" alt="linkedin" class="w-10 h-10 mr-5">
        LifeLines Project
    </a>
    <p class="text-center text-lg opacity-50 mt-20">
        Copyright © 2026 LifeLines Project. All rights reserved.
    </p>
</div>